:root {
  --primary-color: #ffc500;
  --secondary-color: #eaae00;
  --third-color: #00c0cc;
  --third-color-hover: #02acb8;
  --dark-color: #302f2f;
}
.yellow-background{
  background-color: #ffc500;
}
.img{
  align-items: right;
}
.card-img{
  display: flex;
  justify-content: center;

}
.text{
  text-align: right;
}
.text-2{
  justify-content: left;
  font-size: 20px;
}
.button{
  background-color: #02acb8;
}
.button-2{
  background-color: #ffc500;
}
.text-3{
  justify-content: center;
  align-items: center;
}
/* 
  - Fonte Roboto. 
  - Header e main ocupam juntos 100vh
  - Dois arquivos. (Um com a página inicial, o segundo com o formulário (+ header e footer))
  - Criar vários arquivs css (um para cada componente - header (1 arquivo), main e seções (1 arquivo) e footer (1 arquivo))
  - 
*/
